<!DOCTYPE html>
<html>
  <head>
    <title>Cape Town</title>
  </head>
  <body>
  <h1> HOTELS</h1>
    <ul>
      <li> <a href= "http://www.jordanwines.com/dine-with-us/"> The Westin Capetown: $285 </a></li>
      <li> <a href="https://atlanticpoint.travel/">Atlantic Point: $21  </a></li>
      <li><a href = "http://www.ellerman.co.za/">Ellerman House: $726 </a></li>
      <li><a href = "https://www.marriott.com/hotels/travel/cptbr-protea-hotel-cape-town-waterfront-breakwater-lodge/"> Protea: $86</a></li>
       </ul>
       <h1> RESTAURANTS </h1>
       <ul>
         <li><a href = "http://karczmabrooklyn.com/en/menu-2/"> Jordan Restaurant $$</a></li>
         <li><a href = "http://roastandco.co.za">Eastern Food Bazaar $</a></li>
         <li><a href = "http://roastandco.co.za/">Roast and Co $</a></li>
         <li><a href = "https://www.aubergine.co.za/">Aubergine $$</a></li>
         <li><a href = "https://www.tripadvisor.com/Restaurant_Review-g312659-d5849616-Reviews-The_Black_Sheep_Restaurant-Cape_Town_Central_Western_Cape.html">Black Sheep Restaurant $$</a></li>
          </ul>
          
          <h1>EVENTS</h1>
          <ul>
          <li><a href = "https://www.tablemountain.net/">Table Mt.</a></li>
          <li><a href = "https://www.tablemountain.net/">Cape of Good Hope</a></li>
          <li><a href = "http://www.capetown.travel/visitors/see-do/top-attractions/boulders/headline-boulders-beach/">Boulders Beach</a></li>
          <li><a href ="https://www.tripadvisor.com/Attraction_Review-g312659-d2150161-Reviews-Great_White_Shark_Cage_Diving-Cape_Town_Central_Western_Cape.html">Shark cave Diving</a></li>
          <li><a href ="https://www.viator.com/Cape-Town-tourism/Wildlife-Safaris-from-Cape-Town/d318-t11323">Safari</a></li>
          <li><a href = "https://www.tripadvisor.com/Attraction_Review-g312659-d481271-Reviews-Bo_kaap-Cape_Town_Central_Western_Cape.html">Bo-Kaap</a></li>
          </ul>
          
          
          
       
  </body>
</html>



