<!DOCTYPE erb>
<html>
  <head>
    <title>New York City</title>
  </head>
  <body>
  <h1> HOTELS</h1>
    <ul>
      <li> <a href= "https://www.thepodhotel.com/pod-51/"> 51 Hotel: $109</a></li>
      <li> <a href="http://www.thesohotel.com/"> SoHotel: $121 </a></li>
      <li><a href = "https://www.yotel.com/en/hotels/yotel-new-york">YOTEL New York Hotel: $109 </a></li>
      <li><a href = "https://newyork.grand.hyatt.com/en/hotel/home.html"> Grand  Hyatt New York: $124</a></li>
      <li><a href = "https://www.acehotel.com/newyork?"> Ace Hotel New York: $179</a></li>
      <li><a href = "https://www.nylohotels.com/new-york-city/rooms">NYLO New York City: $166</a></li>
       </ul>
       <h1> RESTAURANTS </h1>
       <ul>
         <li><a href = "http://karczmabrooklyn.com/en/menu-2/"> Karczma $</a></li>
         <li><a href = "https://www.cheekysandwiches.com/">Cheeky Sandwiches $</a></li>
         <li><a href = "http://www.joespizzanyc.com/">Joe's Pizza $</a></li>
         <li><a href = "http://www.veselka.com/">Veselka $$</a></li>
         <li><a href "https://www.danielnyc.com/">Daniel $$$$</a></li>
         <li><a href = "http://wildair.nyc/">Wildair $$$</a></li>
          </ul>
          
          <h1>EVENTS</h1>
          <ul>
          <li><a href = "https://www.fitnyc.edu/museum/">FIT Museum </a></li>
          <li><a href = "http://www.centralparknyc.org/">Central Park</a></li>
          <li><a href = "https://www.broadway.com/">Broadway</a></li>
          <li><a href ="https://www.nps.gov/stli/index.htm">Statue of Liberty</a></li>
          <li><a href ="https://www.libertyellisfoundation.org/">Ellis Island</a></li>
          <li><a href = "https://www.timessquarenyc.org/">Times Square</a></li>
          <li><a href ="https://www.911memorial.org/">The National 9/11 Memorial & Museum</a></li>
          </ul>
          
          
          
       
  </body>
</html>



